@import "src/shared/styles/variables";

fieldset {
  align-items: center;
  border: $style_border;
  background: $white;
  margin: 0;

  &.selected {
    background: #dcdcdc;
    font-weight: bold;
  }
}