@import "src/shared/styles/variables";

.button {
  position: relative;
  top: 100px;
  margin: auto;
  background: $white;
  height: $height;
  width: $width;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;
  border: $style_border;
  color: $color_button;

  img.potateSVG {
    transform: rotate(180deg);
  }
}