@import "src/shared/styles/variables";

.button {
  position: relative;
  display: inline-block;
  top: 0;
  margin: auto;
  background: $white;
  min-height: $height;
  width: $width;
  height: fit-content;
  align-items: center;
  padding-left: 10px;
  padding-right: 22px;
  justify-content: space-between;
  border: $style_border;
  color: $color_button;
  text-align: left;

  img {
    position: absolute;
    top:8px;
    right:2px;
  }
}