// colors
$background: #4f97af;
$white: white;
$color_button: #A7A7A7;

// fonts
$font-family: "Inter", sans-serif;
$size: 12px;

//size
$height: 32px;
$width: 180px;

//border
$style_border: 1px solid #dcdcdc;