@import "src/shared/styles/variables";

.multiselectDropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    .panel {
        position: absolute;
        width: 100%;
        animation-duration: 0.7s;
        animation-name: slidein;

        @keyframes slidein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .searchText {
            height: $height;
            width: $width;
            border: $style_border;
        }
    }
}